html, body {
  margin: 10;
  padding: 20;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
 
 background-color: green;

}

canvas {
  display: block;
  border: 3px solid #73AD21;
  position: relative;
  margin: auto;
  /* left: 300px; */

}


